:root {
    --main-color: #7cc576;
    --main-hovercolor: #539253;
    --shadow-color: #aaaaaa75;
    --second-color: #1a1a1a;
}

body {
    background-color: #252525;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

.html {
    font-size: 62.5%;
}

.scroll {
    height: 8px;
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.container {
    width: 90% !important;
    margin: auto;
}

.navbar {
    box-shadow: 0px 5px 10px 0px var(--shadow-color);
    background-color: black;
    margin-bottom: 30px;
    width: 100%;
    color: #000;
    opacity: 0.85;
    z-index: 100;
    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 64px;
        align-items: center;
    }
}

.mood {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    cursor: pointer;
    .box {
        height: 30px;
        width: 66px;
        background: #838383;
        border-radius: 190px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s ease-in-out;
    }
}

body.light-mode {
    background-color: white;
    color: #fff;
}

.box-toggle {
    background: white;
}

.inner-circle {
    position: absolute;
    left: 11px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    transition: .3s ease-in-out 0s;
}

.inner-circle-toggle {
    left: 37px;
    background-color: #000;
}

.menu-items {
    order: 2;
    display: flex;
    margin-bottom: 0 !important;
    align-items: center;
    gap: 30px;
}

.logo {
    order: 1;
    font-size: 2.3rem;
}

.menu-items li {
    list-style: none;
    font-size: 1.3rem;
}

.translate {
    cursor: pointer;
    color: #FFFFFF;
    transition: color 0.3s ease-in-out;
    margin-left: 20px !important;
}

.navbar a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    display: flex;
    flex-direction: column-reverse;
    font-size: 17px;
    p {
        margin-bottom: 0;
    }
    i {
        margin: 0 auto;
    }
}

.navbar a:hover,
.navbar .translate:hover {
    color: var(--main-color)
}

@media (min-width: 768px) {
    .navbar a {
        i {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .translate {
        margin-left: 0px !important;
        align-items: baseline;
        gap: 5px;
        justify-content: flex-start !important;
    }
    .navbar {
        opacity: 0.95;
    }
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }
    .navbar-container {
        display: block;
        position: relative;
    }
    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }
    .navbar-container .hamburger-lines {
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: white;
    }
    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }
    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }
    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }
    .navbar .menu-items {
        padding-top: 70px;
        height: 100vh;
        width: 200px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 20px;
        padding-right: 20px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px var(--shadow-color);
        background-color: rgb(31, 30, 30);
    }
    .navbar .menu-items li {
        width: 100%;
        display: flex;
        padding-left: 20px;
        font-size: 1.1rem;
        font-weight: 500;
        a {
            direction: rtl;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            gap: 5px;
        }
    }
    .logo {
        position: absolute;
        right: 15px;
        font-size: 2.5rem;
    }
    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }
    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }
    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }
    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }
}

@media (max-width: 500px) {
    .navbar-container input[type="checkbox"]:checked~.logo {
        display: none;
    }
}


/*start content image*/

.content-image {
    position: relative;
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        .front {
            box-shadow: 3px 4px 10px black;
            position: relative;
            transition: 1.2s;
            width: 100px;
            background-color: var(--second-color);
            text-align: center;
            h2 {
                color: var(--main-color);
                font-size: 40px;
                font-weight: bold;
                margin: 5px 0;
                z-index: 2;
            }
        }
        .front::before {
            position: absolute;
            content: "";
            background-color: rgba(255, 255, 255, 0.103);
            width: 100%;
            height: 0;
            top: 0;
            left: 0;
            z-index: -1;
            transition: height 1.5s ease;
            animation: before-front 4s linear infinite;
        }
        .content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            width: 80%;
            .txt {
                box-shadow: 3px 4px 10px black;
                padding: 20px 40px;
                border-radius: 10px;
                background-color: var(--second-color);
                transition: 1.2s;
                p {
                    color: white;
                    margin: 0 !important;
                    font-size: 25px;
                    font-weight: 600;
                }
                h1 {
                    color: var(--main-color);
                }
                .work {
                    width: fit-content;
                    margin-top: 20px;
                    padding: 8px 15px;
                    border: 1px solid #252525;
                    border-radius: 10px;
                    box-shadow: 0 0 20px var(--main-color);
                }
                div {
                    align-items: center;
                    gap: 10px;
                    margin-top: 30px;
                    .btn {
                        background-color: var(--main-color);
                        border-radius: 10px;
                        font-size: 20px;
                        font-weight: bold;
                        color: black;
                    }
                    .phone {
                        background-color: var(--main-color);
                        padding: 10px 11px;
                        color: black;
                        border-radius: 50%;
                        i {
                            font-size: 20px;
                        }
                    }
                    .btn:hover,
                    .phone:hover {
                        background-color: var(--main-hovercolor);
                        color: white;
                    }
                }
            }
            .txt:hover {
                transform: scale(1.05);
            }
            .image {
                position: relative;
                transition: 1.2s;
                animation: up-and-down 4s linear infinite;
                img {
                    transition: 1.02s;
                    box-shadow: 3px 4px 20px 3px black;
                    width: 350px;
                    border-radius: 50%;
                }
                img:hover {
                    transform: translate(20px, 20px) rotate(10deg)
                }
            }
        }
    }
    .whatsapp-button a {
        box-shadow: 0px -2px 8px 5px var(--shadow-color);
        padding: 15px 19px;
        border: 2px solid var(--main-color);
        background-color: #000;
        position: absolute;
        right: 30px;
        bottom: 20px;
        position: fixed;
        z-index: 8;
        border-radius: 50%;
        transition: 0.5s;
        &:hover {
            transform: scale(1.05);
        }
    }
}

@keyframes up-and-down {
    0%,
    100% {
        top: 0;
    }
    50% {
        top: -40px;
    }
}

@keyframes before-front {
    0% {
        height: 0;
    }
    50% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}

@keyframes before-front-responsive {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

@media (max-width: 768px) {
    .content-image {
        .container {
            .front {
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding: 0 10px;
                margin-bottom: 23px;
                h2 {
                    font-size: 35px !important;
                }
            }
            .front::before {
                width: 0;
                height: 100%;
                transition: width 1.5s ease;
                animation: before-front-responsive 4s linear infinite;
            }
            .content {
                margin-top: 10px;
                width: 100% !important;
                flex-direction: column-reverse;
                .txt {
                    margin-bottom: 30px;
                    padding: 20px 40px !important;
                }
                .image {
                    img {
                        width: 200px;
                        margin: 20px 0;
                    }
                }
                .btn {
                    font-size: 18px !important;
                }
                .work {
                    font-size: 20px !important;
                    padding: 5px 10px !important;
                }
            }
        }
    }
    .content-image::after {
        left: 0 !important;
        width: 100% !important;
        transform: rotate(0) !important;
    }
}

@media (min-width: 768px) and (max-width: 1117px) {
    .content-image {
        .container {
            .content {
                flex-direction: column-reverse;
                .image {
                    img {
                        width: 290px !important;
                        margin: 20px 0;
                    }
                }
            }
        }
    }
}

.content-image::after {
    content: "";
    width: 100%;
    height: 60px;
    left: 0;
    bottom: -117px;
    position: absolute;
    background-color: black;
    margin-top: 50px;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
}


/* start about-me*/

.about-me {
    position: relative;
    padding-top: 30px;
    margin-top: 140px;
    .container {
        h2 {
            position: relative;
            width: fit-content;
            color: white;
            margin: 0 auto;
            padding-bottom: 10px;
            border-bottom: 5px solid var(--main-color);
        }
        h2::before {
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--main-color);
            left: -22px;
            top: 22px;
            z-index: 3;
        }
        h2::after {
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--main-color);
            right: -22px;
            top: 22px;
            z-index: 3;
        }
        .content-about {
            box-shadow: 3px 4px 10px black;
            width: 80%;
            margin: 50px auto;
            background-color: var(--second-color);
            padding: 30px;
            border-radius: 10px;
            div {
                display: flex;
                align-items: baseline;
                gap: 20px;
                margin-bottom: 10px;
            }
            p {
                color: white;
                margin-bottom: 0;
                font-size: 22px;
            }
            i {
                color: var(--main-color);
            }
        }
    }
}

@media (max-width: 768px) {
    .about-me {
        .container {
            .content-about {
                width: 100% !important;
                padding: 20px !important;
                p {
                    font-size: 17px !important;
                }
            }
        }
    }
    .about-me::after {
        left: 0 !important;
        width: 100% !important;
        transform: rotate(0) !important;
    }
}

.about-me::after {
    content: "";
    width: 100%;
    height: 60px;
    left: 0px;
    bottom: -117px;
    position: absolute;
    background-color: black;
    margin-top: 50px;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
}


/*start skill*/

.skills-part {
    position: relative;
    padding-top: 30px;
    margin-top: 140px;
    h2 {
        position: relative;
        width: fit-content;
        color: white;
        margin: 0 auto;
        padding-bottom: 10px;
        border-bottom: 5px solid var(--main-color);
    }
    h2::before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--main-color);
        left: -22px;
        top: 22px;
        z-index: 3;
    }
    h2::after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--main-color);
        right: -22px;
        top: 22px;
        z-index: 3;
    }
    .container {
        margin: 50px auto;
        justify-content: space-between;
        .part {
            width: 30%;
            .skill {
                box-shadow: 3px 4px 10px black;
                padding: 20px;
                border-radius: 10px;
                margin-bottom: 30px;
                background-color: var(--second-color);
                p {
                    margin-bottom: 8px;
                    color: white;
                    font-size: 20px;
                    font-weight: 600;
                }
                div {
                    width: 100%;
                    height: 15px;
                    border-radius: 10px;
                    background-color: #252525;
                    position: relative;
                }
                div::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    border-radius: 10px;
                    background: linear-gradient( to right, #1c5c1c, var(--main-color));
                }
                transition: 0.3s;
            }
            .skill:hover {
                background-color: #222222;
                transform: scale(1.02);
                box-shadow: 0 0 15px var(--main-color);
            }
            .html div::after {
                width: 100%;
            }
            .css div::after {
                width: 100%;
            }
            .java div::after {
                width: 90%;
            }
            .bootstrap div::after {
                width: 87%;
            }
            .Tailwind div::after {
                width: 93%;
            }
            .saas div::after {
                width: 100%;
            }
            .git div::after {
                width: 96%;
            }
            .problem div::after {
                width: 93%;
            }
            .slice div::after {
                width: 100%;
            }
        }
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        overflow: hidden;
    }
    .marquee {
        padding: 10px 0;
        display: flex;
        overflow: hidden;
        user-select: none;
        gap: 2rem;
    }
    .marquee__group {
        display: flex;
        align-items: center;
        gap: 2rem;
        flex-shrink: 0;
        animation: scroll 20s linear infinite;
    }
    .marquee--reverse .marquee__group {
        animation-direction: reverse;
    }
    .marquee img {
        object-fit: contain;
        padding: 30px;
        margin: 0 20px;
        filter: grayscale(0.2);
        background-color: var(--second-color);
        box-shadow: 5px 8px 10px black;
        transition: transform 0.3s ease;
    }
    /* .marquee img:hover {
        transform: scale(1.1);
        filter: grayscale(0);
    } */
    .carousel__3d__block {
        width: 24em;
        height: 25em;
        margin: 0 auto 120px;
        position: relative;
    }
    .carousel__3d li {
        width: 250px;
        /* height: 400px; */
        background: transparent;
        display: inline-block;
        transition: all .3s ease-in-out;
        overflow: hidden;
        text-align: center;
    }
    .carousel__3d li img {
        width: 100%;
        height: auto;
    }
    .items {
        position: absolute;
    }
    .main-pos {
        margin-left: 2em !important;
        z-index: 3000;
    }
    .left-pos {
        opacity: .3;
        margin-left: -12em !important;
        z-index: 1000;
        transform: scale(.75);
    }
    .back-pos {
        margin-left: 2em !important;
        opacity: .05;
        transform: scale(.5);
    }
    .right-pos {
        opacity: .3;
        margin-left: 15em !important;
        z-index: 1000;
        transform: scale(.75);
    }
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
    .carousel__3d__block {
        display: none;
    }
    .skills-part {
        .container {
            display: block !important;
            .part {
                width: 100% !important;
            }
        }
    }
}

.skills-part::after {
    content: "";
    width: 100%;
    height: 60px;
    left: 0px;
    bottom: -117px;
    position: absolute;
    background-color: black;
    margin-top: 50px;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
}


/*start project*/

.projects-part {
    position: relative;
    padding-top: 30px;
    margin-top: 140px;
    h2 {
        position: relative;
        width: fit-content;
        color: white;
        margin: 0 auto;
        padding-bottom: 10px;
        border-bottom: 5px solid var(--main-color);
    }
    h2::before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--main-color);
        left: -22px;
        top: 22px;
        z-index: 3;
    }
    h2::after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--main-color);
        right: -22px;
        top: 22px;
        z-index: 3;
    }
    .container {
        div {
            justify-content: space-between;
            .project {
                border-radius: 10px;
                transition: 0.6s;
                position: relative;
                margin-top: 80px;
                width: 48%;
                box-shadow: 3px 4px 10px black;
                padding: 20px;
                background-color: var(--second-color);
                .logo-img {
                    width: 75px;
                    position: absolute;
                    right: -20px;
                    top: -36px;
                    background-color: black;
                    border-radius: 50%;
                    border: 7px solid #252525;
                    transition: 1s;
                }
                .container-photo {
                    border-radius: 10px;
                    overflow: hidden;
                    position: relative;
                    .main-photo {
                        width: -webkit-fill-available;
                        border-radius: 10px;
                    }
                }
                .container-photo::after {
                    content: "";
                    position: absolute;
                    width: 70px;
                    height: 200%;
                    top: -35px;
                    background-color: rgba(255, 255, 255, 0.315);
                    transform: rotate(23deg);
                    right: -164px;
                }
                h3 {
                    color: var(--main-color);
                    margin: 20px 0;
                }
                p {
                    color: white;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 26px;
                }
                .end {
                    margin-top: 30px;
                    display: flex;
                    justify-content: space-between;
                    a {
                        width: 150px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 45px;
                        color: black;
                        background-color: var(--main-color);
                        border-radius: 10px;
                        text-decoration: none;
                        font-weight: bold;
                        font-size: 18px;
                        i {
                            color: black;
                            margin-left: 5px;
                        }
                    }
                    a:hover {
                        background-color: var(--main-hovercolor);
                        color: white;
                        transform: scale(1.02);
                        i {
                            color: white;
                        }
                    }
                }
            }
            .project:hover {
                transform: scale(1.02);
                .logo-img {
                    transform: rotate(45deg);
                }
                .container-photo::after {
                    animation: flash 1s linear;
                }
            }
        }
        .more-project {
            margin-top: 60px;
            a {
                width: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 55px;
                color: black;
                background-color: var(--main-color);
                border-radius: 10px;
                text-decoration: none;
                font-weight: bold;
                font-size: 22px;
                margin: 0 auto;
                opacity: 0.5;
            }
            /* a:hover {
                background-color: var(--main-hovercolor);
                color: white;
                transform: scale(1.05);
            } */
        }
    }
}

@media (max-width: 768px) {
    .projects-part {
        .container {
            div {
                display: block !important;
                .project {
                    width: 100% !important;
                    margin-top: 60px !important;
                    .logo-img {
                        width: 65px !important;
                    }
                    .end {
                        display: flex !important;
                        a {
                            width: 120px !important;
                            height: 37px !important;
                            font-size: 16px !important;
                        }
                    }
                    .container-photo::after {
                        width: 30px !important;
                    }
                }
            }
        }
    }
}

@keyframes flash {
    0% {
        right: -164px;
    }
    50% {
        right: 100%;
    }
    100% {
        right: -164px;
    }
}


/*start communication*/

.communication-part {
    background-color: #000;
    position: relative;
    padding-top: 30px;
    margin-top: 100px;
    h2 {
        position: relative;
        width: fit-content;
        color: var(--main-color);
        margin: 0 auto;
        padding-bottom: 10px;
        border-bottom: 5px solid var(--main-color);
    }
    h2::before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--main-color);
        left: -22px;
        top: 22px;
        z-index: 3;
    }
    h2::after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--main-color);
        right: -22px;
        top: 22px;
        z-index: 3;
    }
    .container {
        margin-top: 30px;
        p {
            width: 80%;
            margin: 0 auto;
            color: white;
            font-size: 20px;
            text-align: center;
            letter-spacing: 1px;
        }
        .content {
            padding-bottom: 50px;
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
            .box {
                transition: 0.3s;
                background-color: rgba(255, 255, 255, 0.068);
                width: 25%;
                padding: 20px;
                border-radius: 10px;
                margin-top: 30px;
                h3 {
                    color: var(--main-color);
                    margin-bottom: 15px;
                    text-align: center;
                    i {
                        font-size: 22px;
                    }
                }
                div {
                    direction: rtl;
                    padding-left: 30px;
                    padding-top: 30px;
                    a {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-bottom: 15px;
                        text-decoration: none;
                        justify-content: end;
                        .phone {
                            background-color: var(--main-color);
                            padding: 10px;
                            color: white;
                            border-radius: 50%;
                            font-size: 12px;
                        }
                        p {
                            color: white;
                            font-size: 18px;
                            line-height: 28px;
                            font-weight: 600;
                            width: fit-content !important;
                            margin: 0;
                        }
                    }
                    a:hover {
                        transform: scale(1.02);
                        p {
                            color: var(--main-color);
                        }
                    }
                }
            }
            .box:hover {
                box-shadow: 0 0 10px var(--main-color);
                transform: scale(1.02);
            }
        }
    }
}

.communication-part::before {
    content: "";
    width: 100%;
    height: 60px;
    left: 0;
    top: -60px;
    position: absolute;
    background-color: black;
    clip-path: polygon(0 0, 100% 98%, 100% 100%, 0% 100%);
    z-index: 1;
}

@media (max-width: 800px) {
    .communication-part {
        .container {
            p {
                width: 100% !important;
            }
            .content {
                flex-direction: column !important;
                align-items: center !important;
                .box {
                    width: 80% !important;
                    margin-bottom: 20px !important;
                }
                .photo-end {
                    width: 100% !important;
                }
            }
        }
    }
}